In [2]:
introduction to python programming :

In [ ]:
understanding the variables in python :

In [20]:
x = 2

In [25]:
y = 6

In [26]:
z = x+y

print(z)

8

In [30]:
x = 9

In [29]:
z = x+y

print(z)

15

In [31]:
y=10

z=x+y

In [32]:
print(z)

19

In [ ]:
rules for declaring the variables :

In [ ]:
#1. Rule no : no name spaces are allowed while declaring the variable name

In [33]:
first name=('ikra')

SyntaxError: invalid syntax (4267585226.py, line 1)

In [34]:
firstname=('ikra')

In [35]:
print(firstname)

ikra

In [38]:
first_name=("ikra")

In [39]:
print(first_name)

ikra

In [ ]:
#rule no 2: A variable name should not start with a number

In [40]:
1name = "ravi"
print(1name)

SyntaxError: invalid decimal literal (617443455.py, line 1)

In [41]:
name1="ravi"
print(name1)

ravi

In [43]:
#rule no 3 : A variable name should not contain any special characters

In [44]:
name@ = "alia"

print(name@)

SyntaxError: invalid syntax (4134422466.py, line 1)

In [ ]:
#Introduction to Data Types in Python:
1. String =========> str
2. Numbers ==========> int
3. Floats ==============> decimals
4. list =======> list
5. tuples =======> tuple
6. Dictionaries =========> dict

In [45]:
#Classification of datatypes:
    Broadly datatypes are classifiedbin to two categories :
        1. mutable datatypes ========> which we can edit and alter ========> flexible in nature
        2. immutable datatypes =========> which we cannot be able to edit or alter =====> fixed in nature

In [46]:
# Introduction to string  data type:\
A string is a series of characters declared in quotes.
Classification : it is classified as an immutable datatype ======> fixed
    
How to declare the string data types ----------->

1. Single quotes
2. Double quotes
3. Triple quotes

In [47]:
name = 'john'
print(name)

john

In [48]:
name2 = "karthik"
print(name2)

karthik

In [49]:
name3 = '''tamanna'''
print(name3)

tamanna

In [50]:
name4 = """danish"""
print(name4)

danish

In [ ]:
# Understanding the string methods :

In [51]:
type(name4)

str

In [53]:
type(name)

str

In [56]:
fullname = 'binay mishra'
print(fullname)

binay mishra

In [58]:
print(fullname.title())

Binay Mishra

In [ ]:
# req : i want the full name in capital letters

In [59]:
print(fullname.upper())

BINAY MISHRA

In [60]:
print(fullname)

binay mishra

In [61]:
fullname = 'BINAY MISHRA'
print(fullname)

BINAY MISHRA

In [62]:
print(fullname.lower())

binay mishra